/*
Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

- Yellow: hsl(47, 88%, 63%)

- White: hsl(0, 0%, 100%)

- Gray 500: hsl(0, 0%, 42%)
- Gray 950: hsl(0, 0%, 7%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Figtree](https://fonts.google.com/specimen/Figtree)
- Weights: 500, 800
*/
@font-face {
  font-family: 'Figtree Variable';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Figtree Variable bold';
  src: url('../assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
}

:root{
  --border-r:15px;
  --color-text:hsl(47, 88%, 63%);
  --card-image-width: 300px; 
}


body, html{
  align-items: center;
  background-color: var(--color-text);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 320px;
  justify-content: center;
}

.card{
  background-color: white;
  border: 1px solid black;
  border-radius: var(--border-r);
  box-shadow: 10px 10px rgba(0,0,0,1);
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Figtree Variable";
  margin-bottom: 20px;
  max-width: calc(var(--card-image-width) - 20px);
  height: auto;
  padding: 15px;
}

.card__bold{
  font-family: 'Figtree Variable bold';
}

.card-image{
  width: 100%;
  border-radius: var(--border-r);
}

.card-btn{
  background-color: var(--color-text);
  border: none;
  border-radius: 5px;
  margin: 1em 0 0;
  padding: 0.5em 0.75em;
}

.card--firm{
  display:flex;
  align-items: center;
}

.card--date{
  font-size: 0.75em;
}

.card--title{
  font-size: 1.2em;
}

.card-par--firm{
  padding-left: 1em;
}
